{{define "content"}}
    {{if .ImgName}}
    <img class="blog-img" src="/v1/blog/{{.Id}}/{{.ImgName}}" alt="">
    {{else}}
    <div class="empty-img">No Image</div>
    {{end}}
    <h2>{{.Title}}</h2>
    <p>{{.Excerpt}}</p>
    <p>{{.Body}}</p>

    <div class="line-up">
        <button class="btn-delete" hx-delete="/v1/admin/blog/{{.Id}}" hx-confirm="are you sure you want to delete this blog?">delete</button>
        <a href="/admin/blog/{{.Id}}">
            <button class="btn-secondary">edit</button>
        </a>
        {{if .IsPublished}}
        <button class="btn-primary disabled" disabled>publish</button>
        {{else}}
        <button hx-post="/admin/blog/{{.Id}}" hx-target="#publish-info" hx-swap="outerHTML" class="btn-primary">publish</button>
        <span id="publish-info" class="sub-text">*all fields are required</span>
        {{end}}
    </div>
{{end}}