{{define "content"}}

<h2>{{.Climb.Name}}</h2>
<div>Country: {{.Area.Country}}</div>
<div>Area: {{.Area.Name}}</div>
{{if .Climb.SubAreas}}
    <div>Sub-Areas: {{.Climb.SubAreas}}</div>
{{end}}
<br>

<div>Ascents:</div>
{{if .Ascents}}
    {{range $ascent := .Ascents}}
        <div>User: {{$ascent.CreatedBy}}</div>
        <div>Grade: <div style="width: 20px; height: 20px; display: inline-block; background-color: {{$ascent.Grade}};"></div></div>
        <div>Rating: {{$ascent.Rating}}</div>
        <div>Date: {{$ascent.AscentDate}}</div>
        <div>Attempts: {{$ascent.Attempts}}</div>
        <div>Over 200 pounds: {{if $ascent.Over200Pounds}} yes {{else}} no {{end}}</div>
        <div>Comment: {{$ascent.Comment}}</div>
        <br>
    {{end}}
{{else}}
    <div>No Ascents</div>
{{end}}
<button hx-get="/climb/{{.Climb.Type}}/{{.Climb.ClimbId}}/log" hx-target="body" hx-swap="beforeend" class="btn-primary">Log Ascent</button>
{{end}}