body {
    background-color: rgb(28, 45, 69);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 6rem;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    margin: 0 2rem;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.stack {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.line-up {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.error {
    color: rgb(216, 73, 73);
}

.main-content {
    max-width: 52rem;
    padding: 0 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.btn-primary {
    padding: 0.5rem 1rem;
    background-color: #ffee60;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid #ffee60;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-secondary {
    padding: 0.5rem 1rem;
    background-color: white;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-tertiary {
    padding: 0.5rem 0rem;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-delete {
    padding: 0.5rem 1rem;
    color: rgb(216, 73, 73);
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

.btn-entity {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.card {
    border-bottom: 0.5px solid white;
}

h2, h3 {
    margin-bottom: 0.4rem;
}

ul {
    margin: 0.4rem 0;
    list-style-type:square;
}

.sub-text {
    font-size: 0.8rem;
}

.disabled {
    opacity: 0.6;
    cursor: auto;
}

.warning {
    color: rgb(216, 73, 73);
    font-size: 0.8rem;
    text-transform: lowercase;
    padding: 0 6px; 
}

.empty-img {
    background-color: rgb(69, 81, 97);
    height: 120px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.med-input {
    max-width: 280px;
}

label {
    text-transform: capitalize;
}

@keyframes hide-toast {
    0% {opacity: 0.95;}
    80% {opacity: 0.95;}
    100% {opacity: 0;}
}

.error-toast {
    animation: 5s 1 hide-toast;
    position: fixed;
    top: 50px;
    left: 50px;
    opacity: 0;
    min-width: 300px;
    height: 60px;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: rgb(216, 73, 73);
    display: flex;
    align-items: center;
}

.blog-img {
    max-height: 500px;
}

.search-results {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    top: 46px;
    left: 0px;
    padding: 0.2rem 0;
    max-height: 100px;
    overflow: scroll;
    z-index: 1;
}

.search-result {
    padding: 0 0.5rem;
}

.search-result:hover {
    background-color: rgba(28, 45, 69, 0.283);
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

ul {
    padding: 0 1rem;
}

input[readonly] {
    border: none;
    background-color: transparent;
    color: white;
}

.modal-container {
    position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
    display: flex;
    justify-content: center;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
}

.modal-body {
    position:fixed;
    border: 2px solid white;
    background-color: rgb(28, 45, 69);
    width: 80vw;
    padding: 0 2rem 2rem 2rem;
    max-width: 600px;
}

.x-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
}