<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
    <title>Soul Climbers</title>
</head>
<body>
    <div id="toast-container"></div>
    <nav>
        <a href="/">Soul Climbers</a>
        <div class="line-up">
            <a href="/climb">climb</a>
            {{if .User.Username}}
                <a href="/account">account</a>
            {{else}}
                <a href="/login">login</a>
            {{end}}
            {{if eq .User.Role "admin"}}
            <a href="/admin">admin</a>
            {{end}}
        </div>
    </nav>
    <div class="main-content">
        {{template "content" .MainContent}}
    </div>
</body>
<script src="/static/script.js"></script>
</html>