{{define "login"}}
<div class="input-container">
    <label for="email">Email:</label>
    <div>
        <input class="med-input" type="email" name="email" id="email" value="{{.Email}}">
        {{if .EmailError}}
        <span class="warning">{{.EmailError}}</span>
        {{end}}
    </div>
</div>
<div class="input-container">
    <label for="password">Password:</label>
    <div>
        <input class="med-input" type="password" name="password" id="password" value="{{.Password}}">
        {{if .PasswordError}}
        <span class="warning">{{.PasswordError}}</span>
        {{end}}
    </div>
</div>

<div class="line-up">
    <button class="btn-primary">Log In</button>
    <a href="/signup" class="btn-tertiary">don't have an account?</a>
</div>
{{end}}