{{define "signup"}}
<div hx-target="this" hx-swap="outerHTML" class="input-container">
    <label for="email">email:</label>
    <div>
        <input class="med-input" type="email" value="{{.Email}}" name="email" id="email" maxlength="30" required>
        {{if .EmailError}}
        <span class="warning">{{.EmailError}}</span>
        {{end}}
    </div>
</div>

<div hx-target="this" hx-swap="outerHTML" class="input-container">
    <label for="username">username:</label>
    <div>
        <input class="med-input" type="username" value="{{.Username}}" name="username" maxlength="30" id="username" required>
        {{if .UsernameError}}
        <span class="warning">{{.UsernameError}}</span>
        {{end}}
    </div>
</div>

<div hx-target="this" hx-swap="outerHTML" class="input-container">
    <label for="password">password:</label>
    <div>
        <input class="med-input" type="password" value="{{.Password}}" name="password" maxlength="30" id="password" required>
        {{if .PasswordError}}
        <span class="warning">silly goose, you are missing: {{.PasswordError}}</span>
        {{else}}
        <span style="font-size: 0.8rem;">minimum eight characters, at least one letter, one number, and one special character</span>
        {{end}}
    </div>
</div>

<div class="line-up">
    <button class="btn-primary">Sign Up</button>
    <a href="/login" class="btn-tertiary">already a user?</a>
</div>
{{end}}